@font-face {
	font-family: helvetica; 
}

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,acronym, address, big, cite, code, d++el, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html {color: #333;font-family: helvetica,serif;height: 100%;width: 100%;margin: 0;padding: 0;}
body {line-height: 1;min-height: 100%;width: 100%;overflow-y: scroll; background: #f0f0f0; margin: 0;padding: 0;height: 100%;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;	border-spacing: 0;}
strong,b {font-weight: bold;}
object {width: 470px;}

body {
	background: #284BA6 no-repeat center fixed;
	background-size: cover;
	transition: 1.8s;
}
/*header*/
header {
	background: rgba(0, 0, 0, 0.48);
	width: 100%;
	height: 60px;
	min-width: 955px;
	transition: .3s;
	box-shadow: 18px 13px 92px 4px #000;
	margin-top:30px;
	position: absolute;
	z-index:3;
}

header:hover{
	background: #000;
	transition: .6s;
	color: #fff;
	box-shadow: 0 0 86px 23px rgba(0, 0, 0, 0.78);
}
footer {
	border-top: 2px solid #737373;
	background: #000;
	height: 100px;
	margin-top: 20.5%;
	width: 100%;
	min-width: 955px;
}
.bodyfonblock {
	width: 20%;
	margin: 0 auto;
	min-width: 80px;
	height: 20px;
	margin-left: 50%;
}
.bodyfon {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: -webkit-radial-gradient(50% 50%, circle contain, #fff, #000);
}

.bodyfon:hover {
	background: -webkit-radial-gradient(50% 50%, circle contain, #000, #fff);
	transition: .8s;
}
.menu {
	/*position: fixed;*/
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 11px;
	margin-left: 15%;
}

.signup {
	margin-top: 10px; 
	float: right;
	color: #000;
	color: #000;
	padding: 4px;
	background: #FF9B00;
	border-radius: 3px 0 0 3px;
}
.language {
	position: absolute;
	margin-top: 10px;
}
/* .language a {
	text-decoration: none;
	color: #000;
	margin-right: 5px;
	font-size: 1em;
	transition: .3s;
	padding: 5px;
	border-radius: 1px;
	border: none;
} */

.signup a, .menu a , .language a, .enter{
	text-decoration: none;
	color: #fff;
	margin-right: 5px;
	font-size: 1.3em;
	transition: .3s;
	padding: 5px;
	border-radius: 1px;
}
.enter {border: none;}
.language a:hover,
.signup a:hover,
.menu a:hover {
	color: #fff;
}

header:hover > .menu a{color: #fff;}
header:hover > .language a{color: #fff;}
header:hover > .signup a {color: #fff;}

.menu a:hover {
/* box-shadow: 0 0 86px 23px #fff; */
	text-shadow:0 -3px 20px #fff;/*,
				0px -20px 40px #fff, 
				0px -30px 60px #fff, 
				0px -50px 90px #fff, 
				0 10px 20px #fff, 
				0px 20px 40px #fff, 
				0px 30px 60px #fff, 
				0px 50px 90px #fff;  */
}
.searchbut{
	background: rgba(0, 0, 0, 0.78);
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	transition: .3s;
	margin: 0 auto;
	border-radius: 5px 5px 0 0;
	padding: 5px 15px;
	position: absolute;
	margin-left: 30%;
	margin-top: -31px;
	width: 40%;
	/*z-index: 3;*/
	box-shadow: 0 -10px 26px -8px rgba(0, 0, 0, 0.78);
}
.clearf {
	width: 100%;
	margin: 0 auto;
	background-color: ;
	float: none;
	clear: both;
	height: 0;
}

.searchbut:hover{
background: #000;
	opacity: 0.9;
	transition: 0.8s;
	color: #fff;
}

.stats {
	width: 100%;
	height: 50px;
}

.litlestats {
	display: inline-block;
}

.searchformblock {
	position: relative;
	background: rgba(0, 0, 0, 0.78);
	margin: 0 auto;
	min-width: 900px;
/*	height: 150px;*/
}
.searchform {
	/*background: #d3d3d3;
	/*display: none;*/
	/*position: fixed;*/
	padding: 15px;
	color: #fff;
	box-shadow: 0 -10px 26px -8px rgba(0, 0, 0, 0.78);
}

.resetsearch {
	display: inline-block;
	position: fixed;
	width: 4%;
	height: 3%;
	color: #000;
	background: rgb(244, 57, 57);
	padding: 5px 10px;
	box-sizing: border-box;
}

.resetsearch  a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.1em;
}

.authform {
	display: inline-block;
	/*position: fixed;
	top: 25%;
	right: 50%;*/
	height:100%;
	padding: 15px;
}
.authform input {
	display: block;
	clear: none;
	margin-bottom: 8px;
	padding: 3px;
}/*
.authform select {
	width: 179px;
}*/
/*.authform:target{
	display: block;
	z-index: 3;
}*/
.signform {
	border-left: 1px solid black;
	display: inline-block;
	padding: 15px;
}
.signform input {
	display: block;
	clear: none;
	margin-bottom: 8px;
	padding: 3px;
}/*
.signform select {
	width: 179px;
}*/
/*.signform:target{
	display: block;
	z-index: 3;
}*/
/*  лейяут конец */
.tab {
	width: 100%; 
	padding: 5px;
	min-width: 725px;

}
.tabss {
	width: 100%;
	display: inline-block;  
	vertical-align: top; 
}
.tabs {
	width: 19%;
	display: inline-block;  
	vertical-align: top; 
	border-right: 1px solid black;
	padding: 6px 0;
}
.tab a:hover > .tabs {border-right:1px solid #000;} 
.tab a:hover  > .tabs:last-child{border-right: 0;}
.tab-headings .tabs:last-child,
.tabs:last-child {border-right: 0;}
.tab-headings .tabs {border:0;}
.tab-headings {
	margin-bottom: 20px;
}
.tab-line:hover > a {
	color: #fff;	
}
.tab-line:hover {
	background: #000;
	color: #fff;
}
.tab a {
	color: #000;
	text-decoration: none;
}
.rightbar {
	width: 20%;
	min-width: 181px;
	border-left: 2px solid rgba(0, 0, 0, 0.14);
	padding: 5px;
}

.tab ,
.rightbar {
	display: inline-block;  
	vertical-align: top; 
}

.rightbar-top10 {
display: inline-block;
min-width: 180px;
width:100%;
margin-top:20px;
padding: 5px;
border-bottom: 1px solid #000;
height: 500px;
}

.rightbar-top10-str {
display: inline-block;
width: 100%;
border-bottom: 1px solid #000;
height: 30px;
}
.rightbar-top10-block {
display: inline-block;
width: 48%;
min-width:90px;
border-bottom: 1px solid #000;
height: 30px;
}

.content {
    margin: 0 auto;
	margin-top: -30%;
	min-width: 955px;
	/*background: #FFF;*/
	max-width: 80%;
	position:relative;
}
.contecs {
	width: 78%;
	min-height: 1024px;
	display: inline-block;
	vertical-align: top;
}

.second {
	margin-top: 0; 
	background: #FFF; 
	max-width: 100%;
	padding-top: 22px;
}
/* .user-info  {
	padding: 4px 50px;
	background: #FFF;
	border: 3px solid rgb(197, 89, 24);
	width: 1%;
	margin-bottom: 3px;
	border-radius: 3px;
	color: #F27B7B;
} */
.form-field {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.little input {display: inline-block;}
.form-field .country-lang input {display: block;}
.searchbutton{vertical-align: middle;}
input.searchbutton {
	padding: 0.5% 0.7%;
	font-size: 1.1em;
	background: #FF9B00;
	color: #fff;
	border-radius: 8%;
	border: 0;
	outline: none;
}
input.searchbutton:hover {
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 12px 1px #F49325;
}
input.searchbutton:active {
	background: #F9BB5C;
	color: #fff;
	outline: none;
}
 /* pagin */
#content {
	/*text-indent:20px;*/
	text-align:justify;
}
#pagingControls {
	padding-top:15px;
	font-weight:bold;
	vertical-align: bottom;
}
#pagingControls ul {
	display: inline-block;
	padding-left:0.5em;
}
#pagingControls li {
	display:inline-block;
	padding:0 0.5em
}
/* end pagin */
/*avatar*/
.user-avatar {
	max-width: 640px;
}
/*user info*/
.user-lines {
	min-width: 510px;
}
.user-lines label {
	display: inline-block;
	color: rgba(255, 255, 255, 1);
	font-size: 1em;
	width: 50%;
	padding: 4px 10px;
	color: #82E296;
	border: 1px solid #82E296;
}
.user-lines div {
	display: inline-block;
	font-size: 1em;
	color: #fff;
	background: #82E296;
	padding: 5px 10px;
	width: 30%;
	border: 1px solid white;
/* 	box-shadow: 2px -3px 10px 0px green;
	border-radius: 3px; */
}
.info-block {display: inline-block;}
.user-info .user-lines .user-avatar {display: block;}
.user-lines.email {
	
	}
.user-avatar, .info-block {
	display: inline-block;
	vertical-align: top;
}
.user-lines label::first-letter {
	text-transform: capitalize;
}
.user-label:hover + .user-divider{color: #FF9B00;}
/*news-one*/
.topic {
	background: #FC8E8E;
	padding: 3px 13px 1px 2px;
	color: #fff;
	border-radius: 1px 2px 2px 1px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 20px;
}
.triangle {
	display: inline-block;
	border-right: 20px solid #FC8E8E;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
}
.topic-main {
	position: relative;
	margin-top: -13px;
	margin-bottom: 9px;
}

/* %%%%%%%%test%%%%%%% */

 #field { 
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
    
  #ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  
  /* looooogggggooo */
  #logopole{ 
    width: 100%;
    height: 100%;
	margin-bottom: -200px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
    
  #logo {
 /*  background: url(img/logo2.png) center no-repeat; */
    position: absolute;
    left: 100px;
    top: 100px;


   -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s; 
  }
  
 #logo:hover {
    z-index:5;
  }
  