@font-face {
	font-family: helvetica; 
}

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,acronym, address, big, cite, code, d++el, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html {color: #333;font-family: helvetica,serif;height: 100%;width: 100%;margin: 0;padding: 0;}
body {line-height: 1;min-height: 100%;width: 100%;overflow-y: scroll; background: #f0f0f0; margin: 0;padding: 0;height: 100%;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;	border-spacing: 0;}
strong,b {font-weight: bold;}
object {width: 470px;}

body {
	background: #284BA6 no-repeat center;
	background-size: cover;
	transition: 1.8s;
}
/*header*/
header {
	border-bottom: 1px solid #000;
	background: rgba(0, 0, 0, 0.48);
	width: 100%;
	height: 60px;
	min-width: 955px;
	transition: .3s;
	box-shadow: 0 0 86px 23px #000;
	margin-top:30px;
}

header:hover{
	background: #000;
	transition: .6s;
	color: #fff;
	box-shadow: 0 0 86px 23px #000;
}
footer {
	border-top: 2px solid #737373;
	background: #000;
	height: 100px;
	margin-top: 20.5%;
	width: 100%;
	min-width: 955px;
}
.bodyfonblock {
	width: 20%;
	margin: 0 auto;
	min-width: 80px;
	height: 20px;
	margin-left: 50%;
}
.bodyfon {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: -webkit-radial-gradient(50% 50%, circle contain, #fff, #000);
}

.bodyfon:hover {
	background: -webkit-radial-gradient(50% 50%, circle contain, #000, #fff);
	transition: .8s;
}
.menu {
	/*position: fixed;*/
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 11px;
	margin-left: 15%;
}
.signup {
	margin-top: 10px; 
	float: right;
	color: #000;
	color: #000;
	padding: 4px;
	background: #FF9B00;
	border-radius: 3px 0 0 3px;
}
.language {
	position: absolute;
	margin-top: 10px;
}
/* .language a {
	text-decoration: none;
	color: #000;
	margin-right: 5px;
	font-size: 1em;
	transition: .3s;
	padding: 5px;
	border-radius: 1px;
	border: none;
} */

.signup a, .menu a , .language a, .enter{
	text-decoration: none;
	color: #fff;
	margin-right: 5px;
	font-size: 1.3em;
	transition: .3s;
	padding: 5px;
	border-radius: 1px;
}
.enter {border: none;}
.language a:hover,
.signup a:hover,
.menu a:hover {
	color: #fff;
}
header:hover > .menu a{color: #fff;}
header:hover > .language a{color: #fff;}
header:hover > .signup a {color: #fff;}

.searchbut{
	background: rgba(0, 0, 0, 0.78);
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	transition: .3s;
	margin: 0 auto;
	border-radius: 30px 30px 0 0;
	padding: 10px 15px;
	position: absolute;
	margin-left: 30%;
	margin-top: -41px;
	width: 40%;
	z-index: 3;
	box-shadow: 0 -10px 26px -8px rgba(255, 255, 255, 0.78);
}
.clearf {
	width: 100%;
	margin: 0 auto;
	background-color: ;
	float: none;
	clear: both;
	height: 0;
}

.searchbut:hover{
background: #000;
	opacity: 0.9;
	transition: 0.8s;
	color: #fff;
}

/*.searchbut:active{
	top: -190px;
}*/

.searchformblock {
	position: relative;
	background: rgba(0, 0, 0, 0.78);
	margin: 0 auto;
	min-width: 900px;
	height: 150px;
	transition: .5s;
}
.searchform {
	/*background: #d3d3d3;
	/*display: none;*/
	/*position: fixed;*/
	padding: 15px;
	color: #fff;
}
.searchform input , select {
	display: block;
	clear: none;
	margin-bottom: 8px;
	padding: 3px;
}
.searchform select {
	width: 179px;
}
.searchform input,submit {
vertical-align: top;
display: inline-block;
}

.resetsearch {
	display: inline-block;
	position: fixed;
	width: 30px;
	height: 30px;
	color: #000;
	margin-left: -30px;
	background: /*url(img/reset.jpg)*/ center no-repeat;
}

.resetsearch  a {
	color: #000;
	width: 30px;
	height: 30px;
	text-decoration: none;
	transition: 0.3s;
}
/*
.searchform:target{
	display: block;
} */

.authform {
	border: 1px dashed black;
	display: none;
	position: fixed;
	top: 25%;
	right: 50%;
	padding: 15px;
	border-radius: 3px;
	background: rgba(232, 178, 80, 0.65);
	z-index: 3;
}
.authform input {
	display: block;
	clear: none;
	margin-bottom: 8px;
	padding: 3px;
}
.authform select {
	width: 179px;
}
.authform:target{
	display: block;
	z-index: 3;
}
.signform {
	border: 1px dashed black;
	background: #d3d3d3;
	display: none;
	position: fixed;
	top: 25%;
	right: 50%;
	padding: 15px;
	z-index: 3;
}
.signform input {
	display: block;
	clear: none;
	margin-bottom: 8px;
	padding: 3px;
}
.signform select {
	width: 179px;
}
.signform:target{
	display: block;
	z-index: 3;
}
/*  лейяут конец */

.tab {
	width: 100%; 
	padding: 5px;
	min-width: 725px;
}
.tabss {
	width: 100%;
	height:30px;
	display: inline-block;  
	vertical-align: top; 
}
.tabs {
	width: 19.5%;
	height:30px;
	padding: 5px 0px;
	display: inline-block;  
	vertical-align: top; 
}
.tab a:hover {
	background: #FFD83C;
	transition: 0.3s;
	color: #fff;
}
.tab a {
	color: #000;
	text-decoration: none;
	padding-bottom: 15px;
	transition: 0.3s;
}
.rightbar {
	width: 20%;
	min-width: 181px;
	border-left: 1px solid rgba(0, 0, 0, 0.14);
	height: 1000px;
	box-shadow: 0px 6px 29px 10px;
}

.tab ,
.rightbar {
	display: inline-block;  
	vertical-align: top; 
}
.content {
    margin: 0 auto;
	margin-top: 265px;
	min-width: 955px;
	/*background: #FFF;*/
	max-width: 80%;
	position:relative;
}
.contecs {
	width: 78%;
	min-height:100%;
	display: inline-block;
	vertical-align: top;
}

.second {margin-top: 0; background: #FFF; max-width: 100%;}
/* .user-info  {
	padding: 4px 50px;
	background: #FFF;
	border: 3px solid rgb(197, 89, 24);
	width: 1%;
	margin-bottom: 3px;
	border-radius: 3px;
	color: #F27B7B;
} */
.form-field {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.little input {display: inline-block;}
.form-field .country-lang input {display: block;}
.searchbutton{vertical-align: middle;}
input.searchbutton {
	padding: 0.5% 0.7%;
	font-size: 1.1em;
	background: #FF9B00;
	color: #fff;
	border-radius: 8%;
	border: 0;
	outline: none;
}
input.searchbutton:hover {
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 12px 1px #F49325;
}
input.searchbutton:active {
	background: #F9BB5C;
	color: #fff;
	outline: none;
}
 /* pagin */
#content {
	/*text-indent:20px;*/
	text-align:justify;
}
#pagingControls {
	padding-top:15px;
	font-weight:bold;
	vertical-align: bottom;
}
#pagingControls ul {
	display: inline-block;
	padding-left:0.5em;
}
#pagingControls li {
	display:inline-block;
	padding:0 0.5em
}
/* end pagin */

/*user info*/
.user-lines label {
	display: inline-block;
	color: rgba(0, 0, 0, 0.560784);
	font-size: 1.2em;
	position: relative;
}
.user-lines div {
	display: inline-block;
	position: absolute;
	left: 36%;
	font-size: 1.2em;
	color: #000;
}
.info-block {display: inline-block;}
.user-info .user-lines .user-avatar {display: block;}
.user-lines.email {
	
	}
.user-avatar, .info-block {
	display: inline-block;
	vertical-align: top;
}
.user-lines label::first-letter {
	text-transform: capitalize;
}
.user-label:hover + .user-divider{color: #FF9B00;}
/*news-one*/
.topic {
	background: #FC8E8E;
	padding: 3px 13px 1px 2px;
	color: #fff;
	border-radius: 0 2px 2px 0;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 20px;
}
.triangle {
	display: inline-block;
	border-right: 20px solid #FC8E8E;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
}
.topic-main {
	position: relative;
}